.intro{
  	display: flex; 
  	flex-direction: column;
	flex-grow: 1;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.intro__top{
	flex-grow: 1;
}

.intro__middle{
}

.intro__bottom{
	flex-grow: 1;
}