.meta{
	color:  var(--text-color);
}

.meta__term,
.meta__description{
	float: left;
	margin-bottom: .2rem;
}

.meta__term{
	margin-right: .2rem;
	text-transform: lowercase;
    clear: left;

	& .meta__label{
		@apply --text-styles-dark;
	}
}

.meta__description{
	& .meta__label{
		@apply --text-styles;
	}
}

.meta__label{
	@apply --text-styles;
}

.meta__link{
	@apply --text-styles;
	color: inherit;
	text-decoration: none;
	transition: all ease .25s;

	&:hover{
		background: var(--text-color);
		color: white;
	}
}