.navigation--projects{
	--background-color: rgba(0, 0, 0, .75);
}

.navigation{
	&--projects{

		& .navigation__list{
			display: flex; 
  			flex-direction: row;
  			align-items: center;
  			justify-content: flex-start;

		}

		& .navigation__item{
			position: relative;
			background-color: var(--background-color);
			color: white;
			border: thin solid white;
			padding: 0 1em;
			white-space: nowrap;

			display: flex; 
  			align-items: center;

			min-height: 0;
			will-change: min-height;
			transition: min-height .5s ease-out .5s;

			&:hover{
				min-height: 100vh;
				transition: min-height .5s ease-out 0s;

				& .navigation__content{
					transition-delay: .5s;
					opacity: 1;
				}

				& .navigation__label{
					transform: scale(1);
				}
			}
		}

		& .navigation__content{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
			opacity: 0;

			transition: all ease .5s 0;

			padding: 3.5em 1.5em;
		}

		& .navigation__label{
			text-align: center;
			cursor: pointer;
			z-index: 1;

			font-size: var(--ms0);
			line-height: 2;

			transform: scale(.8);
			transition: all ease .25s;
		}

	}
}
