.navigation--projects{
	--background-color: rgba(255, 255, 255, 1);
}

.navigation{
	&--projects{

		& .navigation__list{
			display: flex; 
  			flex-direction: row;
  			align-items: center;
		}

		& .navigation__item{
			position: relative;
			margin: 0 .5em;
			white-space: nowrap;
			overflow: visible;
			max-height: 0;

			transition: all .5s ease-out;

			display: flex; 
  			align-items: center;

			&:hover{
				max-height: 120vh;
			}
		}

		& .navigation__label{
			background-color: var(--background-color);
			/*border-radius: 1em;*/
			color: black;
			padding: 1em 0;
			line-height: 2;
			width: 2em;
			cursor: pointer;
			z-index: 1;

			font-size: calc(var(--ms0) * .8);
			line-height: 2;
			transition: all ease .25s;
			

			display: inline-block;
			vertical-align: middle;
			text-align: center;
			writing-mode: vertical-rl;

			min-height: 0;
			will-change: min-height;
			transition: all .5s ease-out;
			&:hover{
				min-height: calc(100vh + var(--footer-height));
			}
		}

	}
}
