.page{

}

.page__content{
	line-height: 2.5;
	max-width: 40em;	
}

.page__paragraph{
	position: relative;
	top: 8em;
	left: 5em;
	z-index: 1;
	background: white;
	padding: .4em 1em;
	display: inline;
	box-decoration-break: clone;
}