.page{
	white-space: normal;
	position: relative;
	padding: var(--block-padding);

	&--contact{
	}
}

.page__content{
	position: absolute;
	padding-top: var(--header-height);
}

.page__title{
	font-weight: bold;
}

.page__paragraph{
}

.page__meta{
	margin-top: .75rem;
}