.project{
	white-space: normal;
	position: relative;
}

.project__content{
	position: fixed;
	top: 10%;
	left: 2.5%;
	max-width: 50%;

	z-index: 11111;

	transform: translateX(0);
}

.project__title{

}

.project__description{
}