.projects{
	--background-color: rgba(255, 255, 255, 1);
	--animation-duration: 1s;
	--animation-delay: .5s;

	& .projects__list{
		display: flex; 
		flex-direction: row;
		align-items: center;
		min-height: 0;
		will-change: min-height;
		transition: all .75s ease;

		&.open{
			min-height: calc(100vh + var(--footer-height));
		}
	}

	& .projects__item{
		position: relative;
		margin: 0 .25em;
		white-space: nowrap;
		overflow: visible;
		max-height: 0;
		
		will-change: max-height;
		transition: max-height var(--animation-duration) ease;
		transition-delay: 0s;

		display: flex; 
		align-items: center;

		&:hover,
		&.active{
			max-height: 110vh;

			& .projects__label{
				/* !important due to text dependant  max-height as inline style */
				max-height: calc(100vh + var(--footer-height)) !important;
				min-height: calc(100vh + var(--footer-height));
			}
		}

		&.minify{
		}
	}

	& .projects__label{
		background-color: var(--background-color);

		padding: 1em 0;
		line-height: 2;
		cursor: pointer;
		z-index: 1;

		line-height: 2;
		display: inline-block;
		vertical-align: middle;
		writing-mode: vertical-rl;

		max-height: 12em;
		min-height: 0;
		will-change: min-height, max-height, color;
		transition: all var(--animation-duration) ease;

		/*border-radius: .2em;*/
	}

	& .projects__title{
		will-change: color;
		transition: all var(--animation-duration) ease;
	}
}
