{% spaceless %}
	<nav data-js="nav-projects" class="navigation navigation--projects {{modifiers}}">
		<ul class="navigation__list">
			{% for navItem in navigation.projects %}
				{% set project = attribute(projects, navItem.id) %}
				<li class="navigation__item"  data-id="{{navItem.id}}">
					<span class="navigation__label">{{navItem.label}}</span>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endspaceless %}