<ul class="navigation">
	{% for item in navigation %}
		<li class="navigation__item">
			<a href="{{url}}" class="navigation__link">
				<span class="navigation__label">{{item.label}}</span>
			</a>
		</li>
	{% endfor %}
</ul>