{% spaceless %}
	<nav data-js="nav-projects" class="navigation navigation--projects {{modifiers}}">
		<ul class="navigation__list">
			{% for item in navigation.projects %}
				<li class="navigation__item"  data-id="{{item.id}}">
					<div class="navigation__content project">
						<ul class="project__keywords">
							<li>keyword</li>
							<li>keyword</li>
						</ul>
						<div class="project__description">
							<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<span class="navigation__label">{{item.label}}</span>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endspaceless %}