<nav class="navigation">
	<ul class="navigation__list">
		{% for item in navigation %}
			<li class="navigation__item">
				<a href="{{url}}" class="navigation__link">
					<span class="navigation__label">{{item.label}}</span>

					{% if condition %}{% endif %}
					

				</a>
			</li>
		{% endfor %}
	</ul>
</nav>