{% spaceless %}
	<div class="pages {{modifiers}}">
		<div data-js="pages__list" class="pages__list">
			{% for project in navigation.projects %}
				{% include "components/_page.twig" with {"id": project.id, "modifiers": "pages__item"}  %}
			{% endfor %}
		</div>
		<div data-js="pages__close" class="pages__close">
			<i class="fa fa-times-circle" aria-hidden="true"></i>
		</div>
	</div>
{% endspaceless %}