{% set project = attribute(projects, id) %}
<article class="page {{modifiers}}" data-id="{{id}}" >
	<div class="pages__background" style="background-image: url('{{project.attributes.images[0]}}')"></div>
	<div data-js="page__content" class="page__content">
		<div class="text">{{project.html}}</div>
	</div>
</article>