{% spaceless %}
	<div data-js="projects" class="projects">
		{% for project in navigation.projects %}
			 {% include "components/_project.twig" with {"id": project.id, "modifiers": "projects__item"}  %}
		{% endfor %}
	</div>
{% endspaceless %}
