{% set project = attribute(projects, id) %}
<article class="project {{modifiers}}" data-id="{{id}}" style="background-image: url('{{project.attributes.images[0]}}')">
	<div class="project__content">
		<div class="project__description">
			<p class="caption">{{project.attributes.description|raw}}</p>
		</div>
	</div>
</article>