{% spaceless %}
	<ul data-js="projects" class="projects">
		{% for item in navigation.projects %}
			<li class="projects__item" title="blah" data-id="{{item.id}}" style="background-image: url('/images/test.jpg')">
				<p class="caption">{{item.label}}</p>
			</li>
		{% endfor %}
	</ul>
{% endspaceless %}
