{% set app_modifier = 'app--home' %}

{% extends "layouts/_site.twig" %}

{% block main %}

	{% include "components/_pages.twig" with { }  %}

	<div data-js="content" class="content">

		<section class="content__header">
		</section>

		<section class="content__main">
			{% include "components/_projects.twig" with {"modifiers": "content__projects" }  %}
		</section>

		<section class="content__footer">
		</section>

	</div>

{% endblock %}
