{% set page_modifier = 'page--home' %}

{% extends "layouts/_site.twig" %}

{% block main %}

	<div data-js="content" class="content">

		<section class="content__header">
			<div class="content__holder">
				<p class="caption">Development with Eye for Design</p>
			</div>
		</section>

		<section class="content__main">

			<div class="content__nav">
				{% include "components/_navigation--projects.twig" with {"modifiers": "content__projects" }  %}
			</div>

			<div class="content__holder">
				{% include "components/_projects.twig" with { }  %}
			</div>

		</section>

		<section class="content__footer">
		</section>

	</div>

{% endblock %}
