.app{
	display: flex; 
  	flex-direction: column;
/*
    &--about-mode{
        & .content__footer{
            min-height: 0;
        }

        & .content__header{
            min-height: calc(100%);
        }
    }

    &--contact-mode{
        & .content__footer{
            min-height: calc(100%);
        }

        & .content__header{
            min-height: 0;
        }

    }*/
}

.app__container{
    flex-grow: 1;
    display: flex; 
    flex-direction: column;
}

.app__header,
.app__footer{
    max-height: var(--header--height);
}

.app__header{

}

.app__footer{
    z-index: 1;
}

.app__header,
.app__footer{
    overflow: hidden;
    flex-grow: 0;
}

.app__header{
    line-height: var(--header--height);
    will-change: max-height;
}

.app__main{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
}

.app__footer{
    height: var(--header--height);
}

