.content{
  	display: flex; 
  	flex-direction: column;
}

.content__header,
.content__main,
.content__footer{
	position: relative;
}

.content__header,
.content__footer{
	flex-grow: 1;
	flex-shrink: 0;
	overflow: hidden;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	& .content__holder{
		padding: var(--block-padding);

	}
}

.content__header{
	background-image: url('/images/pages/index/over.jpg');
}


.content__main{
	color: black;

	overflow: hidden;

	display: flex; 
  	flex-direction: row;
  	align-items: center;

  	z-index: 1;

	& .content__header{
		background: inherit;
		color: inherit;
		padding-left: var(--block-padding);
		display: inline-block;
	}
}

.content__holder{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.content__footer{
	background-image: url('/images/pages/index/contact.jpg');
}