.content{
  	display: flex; 
  	flex-direction: column;
  	width: 100%;

  	margin-bottom: -var(--footer-height);
}

.content__header,
.content__main,
.content__footer{
	position: relative;
}

.content__header,
.content__footer{
	flex-grow: 1;
	flex-shrink: 0;
	overflow: hidden;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: grayscale(100%);

	& .content__holder{
		padding: var(--block-padding);
	}
}

.content__header{
	&:before{
		content: '';
		display: block;
		background-image: url(/images/pages/index/over.jpg);
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
  	}
}

.content__main{
	color: black;
	display: flex; 
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	position: relative;

	&:before,
	&:after{
		content: '';
  		display: block;
  		position: absolute;
  		width: 100%;
  		height: 1px;
  		background: white;
	}

  	&:before{
  		top: -1px;
  	}

  	&:after{
  		bottom: 0;
  	}

  	z-index: 1;
}

.content__nav{
	position: relative;

/*	  	max-height: 0;

  	&:hover{
		max-height: 100vh;
		transition: all .5s ease;
  	}*/
}

.content__pages{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.content__footer{
	&:before{
		content: '';
		display: block;
		background-image: url(/images/pages/index/over.jpg);
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
  	}

}