.page{
	display: flex; 
  	flex-direction: column;

    &--about-mode{
        & .content__header{
            min-height: calc(100% - 2rem) !important;
        }
    }

    &--contact-mode{
        & .content__footer{
            min-height: calc(100% - 2rem) !important;
        }
    }

  	&--project-mode{
        & .page__main{
            transition-duration: .5s;
            transition-timing-function: ease-out;
            min-height: 100vh;
        }
  	}

}

.page__header,
.page__footer{
    overflow: hidden;
    background: white;
}

.page__header{
    line-height: 4rem;
    max-height: 4rem;
    will-change: max-height;
}

.page__main{
    transition: min-height .75s ease-in;
    min-height: 0;
    flex-grow: 1;
}

.page__footer{
    line-height: 4rem;
    max-height: 4rem;
}