.page{
	display: flex; 
  	flex-direction: column;

    & .content__header,
    & .content__footer{
        min-height: 50%;
        transition: all .5s ease;
    }

    & .content__main{
        overflow: visible;
    }

    &--about-mode{
        & .content__footer{
            min-height: 0;
        }

        & .content__header{
            min-height: calc(100% - 2rem);
        }
    }

    &--contact-mode{
        & .content__footer{
            min-height: calc(100% - 2rem);
        }

        & .content__header{
            min-height: 0;
        }

    }

    &--project-mode{
        & .content__header,
        & .content__footer{
            min-height: 0;
        }

        & .content__main{
        }
    }

}

.page__header,
.page__footer{
    overflow: hidden;
    background: white;
    flex-grow: 0;
}

.page__header{
    line-height: 4rem;
    max-height: 4rem;
    will-change: max-height;
}

.page__main{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
}

.page__footer{
    line-height: 4rem;
    max-height: 4rem;
}